@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #efefef;
  font-family: 'Playfair Display', serif;
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
  width: 100%;
  padding: 0;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: overlay;
    z-index: -10;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.text-secondary {
  animation: neon 5s infinite;
}

img {
  display: block;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 60px;
}

main {
  padding: 1rem 4rem;
  overflow: hidden;
  min-height: calc(100vh - 60px);

  &#home {
    max-width: 1100px;
    font-family: 'Great Vibes', cursive;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .wrapper {
      position: absolute;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      animation: neon 5s infinite;

      h1 {
        position: absolute;
        top: 23%;
        right: 45%;
        color: white;
        padding: 0 1rem;
        font-size: 12vw;
        overflow: hidden;
        animation: slide-right 1.4s ease;
        animation-fill-mode: both;
        border-radius: 45%;
      }
      h2 {
        position: absolute;
        top: 37%;
        left: 47%;
        color: white;
        border-radius: 45%;
        padding: 0 1rem;
        font-size: 12vw;
        overflow: hidden;
        animation: slide-left 1.4s ease;
        animation-fill-mode: both;
      }
    }
  }

  &#about,
  &#work,
  &#contact {
    h1 {
      white-space: nowrap;
      width: 300px;

      overflow: hidden;
      animation: type 1.4s steps(40, end);
    }
    h2 {
      white-space: nowrap;
      width: 250px;
      text-align: left;
      color: #52e0d0;
      overflow: hidden;
      animation: shring-animation 1.4s steps(40, end) 0.1s;
      animation-fill-mode: both;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
  h3,
  h6,
  li {
    margin-top: 0.7rem;
  }

  h6 {
    color: #52e0d0;
  }

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: var(--primary-color) 3px solid;
    animation: slide-left 1.4s ease 0.2s;
    animation-fill-mode: both;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    animation: slide-left 1.4s ease 0.2s;
    animation-fill-mode: both;
    .text-secondary {
      margin-bottom: 1rem;
    }
  }
  .job-1 {
    grid-area: job1;
    animation: slide-up 1.4s ease 0.3s;
    animation-fill-mode: both;
  }
  .job-2 {
    grid-area: job2;
    animation: slide-up 1.4s ease 0.4s;
    animation-fill-mode: both;
  }
  .job-3 {
    grid-area: job3;
    animation: slide-up 1.4s ease 0.5s;
    animation-fill-mode: both;
  }
  .job {
    background: var(--box-bg-color);
    padding: 0.5rem;
    border-bottom: var(--primary-color) 5px solid;

    ul {
      margin: 0 1rem;
      text-align: left;
    }
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 1fr);

  .item {
    border-radius: 1rem;

    display: grid;

    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: 'stack';

    overflow: hidden;
    animation: slide-up 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;

    img {
      grid-area: stack;
      max-width: 100%;
      margin: auto;
      border-radius: 15px;
    }
    figcaption {
      grid-area: stack;
      background-color: #090b0aba;
      transform: translateY(calc(100% - 4rem));
      transition: transform 600ms;

      h3 {
        background-color: #000000ba;
        height: 4rem;
        padding: 1rem;
      }

      p {
        padding: 1rem;
      }
    }

    &:hover figcaption {
      transform: none;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;

  div {
    font-size: 2rem;
    border: 3px var(--primary-color) solid;
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;
    @include easeOut;
    span {
      color: var(--primary-color);
    }

    &:hover {
      padding: 0.5rem 1.5rem;
      background: var(--primary-color);
      border: 3px #fff solid;
      color: #000000;

      span {
        color: #f2f5f4;
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: var(--primary-color);
    color: #000;
  }
}

.btn-dark {
  @extend .btn;
  background: (var(--primary-color), 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: (var(--primary-color), 50);
  color: rgb(197, 196, 196);
}

@import 'mobile';
